body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.work {
    display: flex;
    justify-content: space-evenly;
}

.icon-btn-container {
    display: flex;
    margin: 10px 0px 0px 0px;
    height: 30px;
    width: 500px;
    justify-content: space-around;
}
.button.button.is-primary.tooltip {
    width: 100px;
    height: 30px;
}
.upper-canvas {
    border: 1px solid;
}
.modal {
    display: none;
}
.is-active {
    display: block;
}
.modal-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
}
.modal-card,
.modal-card-foot,
.modal-card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal-card-foot,
.modal-card-head {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}
.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-card-title {
    color: #363636;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
}
.modal-card-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
}
.modal-card-foot .button:not(:last-child) {
    margin-right: 10px;
}
.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

span.button.is-primary.is-outlined.tooltip {
    border: 1px solid;
    margin-right: 10px;
    cursor: pointer;
    background-color: gainsboro;
    display: inline-block;
    width: 65px;
    text-align: center;
    height: 25px;
    &:hover {
        background-color: gray;
    }
}
.swatch {
    border: 1px solid #d8d8d8;
    height: 30px;
    width: 225px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
    box-shadow: inset 0 0 0 3px #fff;
}
.rangeslider-horizontal {
    height: 6px;
}
.rangeslider-horizontal {
    height: 12px;
    border-radius: 10px;
}
.rangeslider,
.rangeslider .rangeslider__fill {
    display: block;
}
.rangeslider {
    margin: 20px 0;
    position: relative;
    background: #e6e6e6;
    -ms-touch-action: none;
    touch-action: none;
}
.rangeslider-horizontal .rangeslider__fill {
    background-color: #00d1b2;
}

.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #7cb342;
    border-radius: 10px;
    top: 0;
}
.rangeslider,
.rangeslider .rangeslider__fill {
    display: block;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.rangeslider .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}
.object-controls-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
